<!DOCTYPE html>
<html>
<head>
    <title>"Unbostructive Ajax"</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.8.0.min.js")"type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")"type="text/javascript"></script>
    <script type="text/javascript">
    function OnBegin() {
        alert("This is the OnBegin Callback");
    }
    
    function OnSuccess(data) {
        alert("This is the OnSuccessCallback: " + data);
    }

    function OnFailure(request, error) {
        alert("This is the OnFailure Callback:" + error);
    }
    function OnComplete(request, status) {
        alert("This is the OnComplete Callback: " + status);
    }

    function OnSuccessJson(data) {
        var target = $('#tabledata');
        target.empty();
        for (var i = 0; i < data.length; i++) {
            target.append('<tr><td>' + data[i].ClientName + '</td><td>'
            + data[i].Date + '</td></tr>');
        }
    }

    </script>

</head>
<body>
    @RenderBody()
</body>
</html>